# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
./workshop-api/target
./workshop-app/target
./workshop-domain/target
./workshop-repository/target
./*/target
./target


